USE [master]
GO
/****** Object:  Database [TeknikServis]    Script Date: 5/24/2024 8:36:06 PM ******/
CREATE DATABASE [TeknikServis]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TeknikServis', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TeknikServis.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TeknikServis_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TeknikServis_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TeknikServis].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TeknikServis]
GO
/****** Object:  Table [dbo].[Ariza]    Script Date: 5/24/2024 8:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ariza](
	[arizaID] [int] NOT NULL,
	[musteriNo] [int] NULL,
	[ariza_tarihi] [date] NULL,
	[sikayet_bilgisi] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[arizaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fatura]    Script Date: 5/24/2024 8:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fatura](
	[faturaNo] [int] NOT NULL,
	[arizaID] [int] NULL,
	[tarih] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[faturaNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fatura_Islem]    Script Date: 5/24/2024 8:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fatura_Islem](
	[faturaNo] [int] NOT NULL,
	[islemNo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[faturaNo] ASC,
	[islemNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Islem]    Script Date: 5/24/2024 8:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Islem](
	[islemNo] [int] NOT NULL,
	[ad] [varchar](50) NULL,
	[aciklama] [text] NULL,
	[islem_fiyati] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[islemNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musteri]    Script Date: 5/24/2024 8:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteri](
	[musteriNo] [int] NOT NULL,
	[ad] [varchar](50) NULL,
	[soyad] [varchar](50) NULL,
	[telefon] [varchar](15) NULL,
	[adres] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[musteriNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personel]    Script Date: 5/24/2024 8:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personel](
	[sicilNo] [int] NOT NULL,
	[ad] [varchar](50) NULL,
	[soyad] [varchar](50) NULL,
	[telefon] [varchar](15) NULL,
	[adres] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[sicilNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServisElemani_Ariza]    Script Date: 5/24/2024 8:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServisElemani_Ariza](
	[sicilNo] [int] NOT NULL,
	[arizaID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sicilNo] ASC,
	[arizaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ariza]  WITH CHECK ADD FOREIGN KEY([musteriNo])
REFERENCES [dbo].[Musteri] ([musteriNo])
GO
ALTER TABLE [dbo].[Fatura]  WITH CHECK ADD FOREIGN KEY([arizaID])
REFERENCES [dbo].[Ariza] ([arizaID])
GO
ALTER TABLE [dbo].[Fatura_Islem]  WITH CHECK ADD FOREIGN KEY([faturaNo])
REFERENCES [dbo].[Fatura] ([faturaNo])
GO
ALTER TABLE [dbo].[Fatura_Islem]  WITH CHECK ADD FOREIGN KEY([islemNo])
REFERENCES [dbo].[Islem] ([islemNo])
GO
ALTER TABLE [dbo].[ServisElemani_Ariza]  WITH CHECK ADD FOREIGN KEY([arizaID])
REFERENCES [dbo].[Ariza] ([arizaID])
GO
ALTER TABLE [dbo].[ServisElemani_Ariza]  WITH CHECK ADD FOREIGN KEY([sicilNo])
REFERENCES [dbo].[Personel] ([sicilNo])
GO
USE [master]
GO
